.project{
    background-color: white;
    color: navy;
    text-decoration: none;
    border: 8px solid navy;
    border-radius: 2rem 0 ;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-weight: bolder;
}

.project:hover{
    background-color: navy;
    color: white;
    transform: scale(1.05);
}

.todo-header{
    gap: 1rem;
}

.todo-header input{
    width: 32%;
}
.todo-header button
{
    width: 25%;
}

body{
    font-family: Montserrat;
}

.navbar{
    background-color: black;
}

.carousel-item img{
    height: 35rem;
}

.services{
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/211124230511-dubai-airshow-airbus-five-interior.jpg?q=w_3720,h_2092,x_0,y_0,c_fill/w_1280");
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    padding-top: 18rem;
    background-attachment: fixed;
    
}
.service{ 
    text-shadow: 1px 1px 8px  white;
}

.card-img-top{
    height: 13rem;
}

.card{
    margin: 1rem;
}


@media (max-width : 768px){
    .todo-header{
        flex-direction: column;
    }

    .todo-header input{
        width: 100%;
    }

    .todo-header button{
        width: 100%;
    }
}