.project{
    background-color: white;
    color: navy;
    text-decoration: none;
    border: 8px solid navy;
    border-radius: 2rem 0 ;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-weight: bolder;
}

.project:hover{
    background-color: navy;
    color: white;
    transform: scale(1.05);
}

.todo-header{
    gap: 1rem;
}

.todo-header input{
    width: 50%;
}
.todo-header button
{
    width: 25%;
}


@media (max-width : 768px){
    .todo-header{
        flex-direction: column;
    }

    .todo-header input{
        width: 100%;
    }

    .todo-header button{
        width: 100%;
    }
}